<div class="bg-white overflow-hidden mb-4" *ngFor="let fileType of fileTypes">
  <div class="px-4 sm:px-6 lg:px-8">
    <h1 class="text-xl font-semibold text-gray-900">{{fileType.name}}</h1>
    <div class="mt-8 flex flex-col">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
            <app-files-table [files]="fileType.files"></app-files-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
