<div class="bg-white overflow-hidden mb-4" *ngFor="let fileType of fileTypes">
  <div class="px-4 py-5 sm:p-6">
    <h1 class="text-xl font-semibold text-gray-900">{{fileType.name}}</h1>
    <div class="mt-8 flex flex-col">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Created By</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Updated By</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Type</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <tr *ngFor="let file of fileType.files">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{file.createdBy.givenName}} {{file.createdBy.familyName}}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{file.modifiedBy.givenName}} {{file.modifiedBy.familyName}}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{file.type}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
